<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<form action="/admin/streaming/add" method="post" enctype="multipart/form-data">
		<h1>Añadir streaming</h1>

		<label>Nombre</label>
		<input type='text' name='name' required/>
		</p>
		<label>Url</label>
		<input type='text' name='url' required/>
		</p>
		<label>Descripción</label>
		<textarea name='description' rows=3 cols=40 required></textarea>
		<p>Sube una foto:</p>
		<input type='file' name='image' accept=".jpg, .jpeg, .png">
		<p>Sube un pdf:</p>
		<input type='file' name='pdf' accept=".pdf">
		<input type="hidden" name="_csrf" value="{{token}}" />
		<input type='submit' value='Guardar'/>
		</p>
	</form>
</body>
</html>